/*@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}*/
@font-face {
  font-family: 'iconfont';  /* project id 1300123 */
  src: url('//at.alicdn.com/t/font_1300123_z92ovgps7x.eot');
  src: url('//at.alicdn.com/t/font_1300123_z92ovgps7x.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1300123_z92ovgps7x.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1300123_z92ovgps7x.woff') format('woff'),
  url('//at.alicdn.com/t/font_1300123_z92ovgps7x.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1300123_z92ovgps7x.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

