{extend name="layout" /}
{block name="content"}
<div class="layui-tab layui-tab-brief">
	<ul class="layui-tab-title">
	    <li class="layui-this">{$pathCurrent['name']}</li>
  	</ul>
<!-- </div>
<div class="fileBox" style="margin-top: 25px;margin-left:20px;">

	<button class="layui-btn" id="uploadExcel" data-type="">批量导入</button>
	<button class="layui-btn" id="excelDemo" data-type="excelDemo" style="margin-left:10px;" >表格模板下载</button>
</div> -->

<div class="demoTable" style="margin-top: 25px;margin-left:20px;">
	产品信息：
	<div class="layui-inline">
		<input class="layui-input" name="title" id="title" placeholder="产品编号、产品名称" style="width:220px;" autocomplete="off">
	</div>
	<!-- <div class="layui-inline">
		<form class="layui-form">
			<select class="layui-input" name="gid" id="gid" lay-filter="gid">
				<option value="">请选择产品分类</option>
				{foreach $category as $vo}
				<option value="{$vo['id']}">{$vo['cname']|raw}</option>
				{/foreach}
			</select>
		</form>
	</div> -->
	产品型号：
	<div class="layui-inline">
		<input class="layui-input" name="spec" id="spec" placeholder="产品型号" style="width:220px;" autocomplete="off">
	</div>
	客户信息：
	<div class="layui-inline">
		<input class="layui-input" name="customer" id="customer" placeholder="客户编号、客户名称、手机号、负责人" style="width:220px;"  autocomplete="off">
	</div>
	<!-- <div class="layui-inline">
		<form class="layui-form">
			<select class="layui-input" name="cid" id="cid" lay-filter="cid">
				<option value="">请选择客户分类</option>
				{foreach $cus_category as $vo}
				<option value="{$vo['id']}">{$vo['cname']|raw}</option>
				{/foreach}
			</select>
		</form>
	</div> -->
	
	<button class="layui-btn" data-type="reload">搜索</button>
</div>
<div class="layui-card-body">
	<div data-model="table-bind">
		<table class="layui-hide" id="data_table" lay-filter="data_table" data-table></table>
	</div>
</div>
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
	</div>
  </script>
<!-- <script type="text/html" id="barTar">
	<a class="layui-btn layui-btn-xs" href="{{d.op}}">编辑</a>
  	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-del data-id="{{d.id}}" data-table="user">删除</a>
</script> -->
<script type="text/html" id="image">
	<img src="{{d.image}}" height="30">
</script>
<script type="text/html" id="sysTar">
	{{#  if(d.status == 1){ }}
  	<button type="button" class="layui-btn layui-btn-normal">正常</button>
  	{{#  } else { }}
  	<button type="button" class="layui-btn layui-btn-danger">关闭</button>
  	{{#  } }}
</script>
{/block}
{block name="js"}
<script type="text/javascript">
var mixin = {};
var SlefUrl = this.location.href;
layui.use(['table','upload'], function(){
	var table = layui.table
		,upload = layui.upload;
	table.render({
		elem: '#data_table',
		url:SlefUrl,
		toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
		,defaultToolbar: ['filter', 'exports'
		//, 'print'
		],
		limit:20,
		cellMinWidth: 80,
		cols: [[
	      	// {field:'id',width:80, title: 'ID', sort: true,align:'center'}
	      	{field:'good_sn', title: '产品编号', width:180,align:'center'}
	      	,{field:'good_name', title: '产品名称'}
	      	// ,{field:'price', title: '产品价格'}
	      	,{field:'spec', title: '产品型号'}
	      	// ,{field:'status', width:100, title: '商品状态',toolbar: '#sysTar'}
	      	,{field:'pass', title: '合格率',sort: true,align:'center'}
	      	,{field:'warn', title: '警告率',sort: true,align:'center'}
	      	// ,{field:'unpass', title: '不合格率',sort: true,align:'center'}
	      	// ,{field:'runing', title: '待评价',sort: true,align:'center'}
	      	,{field:'count', title: '产品总数',sort: true,align:'center'}
	      	// ,{field:'op', title: '操作',toolbar: '#barTar', width:150,align:'center'}
	    ]],
	    page: true,
        id: 'testReload'
	});
	table.on('tool(data_table)', function(obj){
		var data = obj.data;
		data.table = "goods";
		if(obj.event === 'del'){
			layer.confirm('确定删除吗？', function(index){
	        	layer.close(index);
	       		form.formDel(data,obj);
	      	});
		}
	});
    var $ = layui.$, active = {
        reload: function(){
            var title = $('#title');
            var gid = $('#gid');
            var spec = $('#spec');
            var customer = $('#customer');
            var cid = $('#cid');

            //执行重载
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    title: title.val()
                    ,gid : gid.val()
                    ,spec : spec.val()
                    ,customer: customer.val()
                    ,cid : cid.val()
                }
            }, 'data');
		},
		
		excelDemo: function(){
            window.location.href = '/excel/product_demo.xls'
        }


    };

	upload.render({
		elem: '#uploadExcel'
		,url: '{:url("savestudentImport")}'
		,accept: 'file' //普通文件
		,auto:'xlsx|xls|csv'
		,done: function(res){
			layer.alert(res.msg);
			// setInterval(function(){
			// 	window.location.reload();
			// },3000)
			
		}
	});

		// 
		

    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
	$('#excelDemo').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
});
</script>
{/block}