{extend name="layout" /}
{block name="content"}
<div class="layui-card-header">{$pathCurrent['name']}</div>
<div class="layui-card-body">
	<div class="card-right-btn">
		<a href="{:url('sms')}" class="layui-btn layui-btn-normal layui-btn-xs">短信配置</a>
		<a href="{:url('sms_tpl')}" class="layui-btn layui-btn-normal layui-btn-xs">短信模板</a>
		<a href="{:url('sms_log')}" class="layui-btn layui-btn-warm layui-btn-xs">发送记录</a>
	</div>
	<form class="layui-form" data-model="form-submit">
		<div class="layui-form-item">
			<label class="layui-form-label">模板标题</label>
			<div class="layui-input-block">
	           	<input type="text" class="layui-input" name="title" datatype="*" value="{$info['title']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">模板代码</label>
			<div class="layui-input-block">
	           	<input type="text" class="layui-input" name="code" datatype="*" value="{$info['code']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">模板内容</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容" class="layui-textarea" name="content" datatype="*">{$info['content']}</textarea>
			</div>
		</div>
		<div class="layui-form-item">
	    	<div class="layui-input-block">
	    		<input type="hidden" name="id" value="{$info['id']}">
	      		<button class="layui-btn layui-btn-normal">保存</button>
	      		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    	</div>
	  	</div>
	</form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
var mixin = {};
layui.use('form',function(){
	var form = layui.form
});
</script>
{/block}