{extend name="layout" /}
{block name="content"}
<div class="layui-tab layui-tab-brief">
	<ul class="layui-tab-title">
	    <li><a href="{:url('index')}">{$pathCurrent['name']}</a></li>
	    <li class="layui-this">新增图库</li>
	    <li><a href="{:url('index_cate')}">分类管理</a></li>
  	</ul>
</div>
<div class="layui-card-body">
	<form class="layui-form" data-model="form-submit">
		<div class="layui-form-item">
			<label class="layui-form-label">所属分类</label>
			<div class="layui-input-block">
				<select name="cid" lay-filter="aihao">
					<option value="0">未分类</option>
					{foreach $group as $vo}
						<option value="{$vo['id']}">{$vo['cname']|raw}</option>
	           		{/foreach}
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">图片库</label>
			<div class="layui-input-block">
				<div class="photo-group">
					<ul class="clearfloat" id="images-thumbnails">
						<li>
							<div class="rc-upload">
							<a class="add-goods" href="javascript:;" data-model="upload-photo"
		                        data-img-list='false'
		                        data-img-name="image"
		                        data-img-warp="#images-thumbnails"
		                        data-id="imageUpload">+ 添加图片</a>
							</div>
							<script type="text/plain" id="imageUpload" style="display:none;" ></script>
						</li>
					</ul>
				</div>
        	</div>
			<div class="layui-input-block">
				<div class="layui-form-mid layui-word-aux">（推荐尺寸为750px*1024px，大小不超过200k，支持jpeg、jpg、png、gif、jpeg格式）</div>
        	</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">图片名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="name" value="{$info['name']|default=""}" datatype="*">
			</div>
		</div>
		<div class="layui-form-item">
	    	<div class="layui-input-block">
	    		<input type="hidden" name="id" value="">
	      		<button class="layui-btn layui-btn-normal">保存</button>
	      		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    	</div>
	  	</div>
	</form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
var mixin = {};
layui.use('form',function(){
	var form = layui.form;
});
</script>
{/block}